page-detail-agenda {
  .card-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: darkgrey;
  }
  .card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #666666;
  }
}
